 
body{
 	background-image:url(https://st3.depositphotos.com/9962190/15861/v/1600/depositphotos_158619372-stock-illustration-hip-hop-graffiti-icon.jpg);
 font-family: 'ZCOOL KuaiLe',
 
  cursive;
  color: blue
  font-size: 100px;
  }
.gerson {
	color: red
}
.roa {
	color:red;

}